.body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.header {
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #1877f2;
  color: white;
}

.header-title {
  margin-top: 100px;
}
.nav {
  display: flex;
  justify-content: end;
  background-color: #eff2f5;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
}

.article {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* Espacios entre columnas */
  column-gap: 20px;
}
.section {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: span 9;
}
.aside {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: span 3;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.product {
  grid-column: span 2;
  padding: 20px;
  margin: 20px;
}
/* Como puedo hacer para que las imagenes respondan a un tamaño en particular
 */
.product-image {
  width: 100px;
}

.table {
  flex-direction: column;
}

.footer {
  background-color: #f0f2f5;
  text-align: center;
  color: #505050;
}
